<div class="section" id="about-us">

  <h1> About Us </h1>
  <span class="headerLine"></span>

  <div class="team-container">


   <!-- member-->
   <div class="team-member">
   <img class="team-photo" src="http://i68.tinypic.com/2jetzza.jpg">
     <h3>Shamim Bhaghat</h3>
     <span>Creator</span>
   </div>


</div>


   <div style="clear:both;"></div>

   <br/><br/>


</div>
